@import "colors";

#aboutme {
  .aboutme-container {
    padding-top: 10%;
    .aboutme-card {
      position: relative;
      border-radius: 30vw 30vw 0 0;
      background: $main-blue;
      .underline-aboutme {
        position: absolute;
        top: 13vw;
        right: 30vw;
        width: 20vw;
        height: 0.5vw;
        z-index: 100;
      }
      h1 {
        position: absolute;
        top: 3%;
        left: 40%;
        font-size: 5vw;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 700;
        z-index: 2;
      }
      .avatar {
        position: absolute;
        top: -8%;
        left: 15%;
        transform: rotate(-14.86deg);
      }
      .aboutme-box {
        display: flex;
        top: 20%;
        padding: 20% 12% 35% 12%;
        .aboutme-text {
          p, .highlight {
            font-size: 1.3vw;
            font-family: "Montserrat";
            color: $black;
            line-height: 2vw;
          }

          span {
            font-weight: 700;
            background-position: left;
            background-size: 0% 100%;
            background: $main-blue;
            background: linear-gradient(to left, $main-blue 50%, yellow 50%) right;
            background-size: 205%;
            transition: .5s ease-out;
          }

          span:hover {
            background-position: left;
          }

          .sign {
            position: relative;
            p {
              margin: 10% 10% 0 0;
              font-family: "IBM Plex Mono";
              font-size: 2vw;
              color: $black;
              text-align: right;
            }
            img {
              position: absolute;
              height: 100px;
              width: auto;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto 0;
              transform: rotate(20deg);
            }
          }
        }
      }
    }
    .knowledge {
      width: 50%;
      margin-left: 5%;
      .learnt {
        text-align: right;
      }
      h2 {
        font-family: "Montserrat";
        color: $black;
        font-size: 2.5vw;
      }
      .line1-logos {
        display: flex;
        justify-content: space-around;
        // margin: 10% 10% 15% 0%;
        img {
          height: 4vw;
        }
        .tooltip {
          position: relative;
          display: inline-block;
          &:hover .tooltiptext{
            visibility: visible;
            opacity: 1;
          }
        }
        .tooltiptext {
            transition: opacity 0.2s ease-in;
            opacity: 0;
            margin-top: 1.5em;
            font-size: 1vw;
            width: 8vw;
            background-color: white;
            color: $main-blue;
            text-align: center;
            border-radius: 6px;
            padding: 0.5em 0;
            position: absolute;
            z-index: 1;
            top: 80%;
            left: -30%;
            font-weight: 700;
            font-family: 'IBM Plex Mono';
            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              width: 1vw;
              height: 1vw;
              transform-origin: 50% 50%;
              transform: rotate(45deg) translateX(-50%) translateZ(-1px);
              background-color: #fff;
              left: 50%;
              top: 0;
              z-index: -1;
            }
          }
        }

      .line2-logos {
        display: flex;
        justify-content: space-between;
        margin: 20% 10% 20% 0%;
        img {
          height: 4vw;
          margin-right: 7.7vw;
        }
        .tooltip {
          transition: opacity 0.2s ease-in;
          position: relative;
          display: inline-block;
          &:hover .tooltiptext{
            visibility: visible;
            opacity: 1;
          }
        }
        .tooltiptext {
            transition: opacity 0.2s ease-in;
            opacity: 0;            
            margin-top: 1.5em;
            font-size: 1vw;
            width: 8vw;
            background-color: white;
            color: $main-blue;
            text-align: center;
            border-radius: 6px;
            padding: 0.5em 0;
            position: absolute;
            z-index: 1;
            top: 80%;
            left: -20%;
            font-weight: 700;
            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              width: 1vw;
              height: 1vw;
              transform-origin: 50% 50%;
              transform: rotate(45deg) translateX(-50%) translateZ(-1px);
              background-color: #fff;
              left: 50%;
              top: 0;
              z-index: -1;
            }
          }
      }
    }
  }
}

.wordCarousel {
    font-size: 1.5vw;
    font-family: "Montserrat";
    font-weight: 400;
    color: $black;
    display: flex;
    width: 45vw;
    margin: 10% 0 0 10%;
    div {
      overflow: hidden;
      position: relative;
      height: 65px;
      padding-top: 10px;
      margin-top: -10px;
        li {
            font-family: "IBM Plex Mono";
            color: $black;
            font-style: italic;
            font-weight: 700;
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@media only screen and (max-width: 600px) {
  #aboutme {
    .aboutme-container {
      .aboutme-card {
        h1 {
          top: 2%;
          left: 30%;
          font-size: 8vw;
        }
        .underline-aboutme {
          width: 35vw;
          height: 1vw;
          top: 22vw;
        }
        .avatar {
          top: -3%;
          left: 15%;
          width: 23%;
        }
        .aboutme-box {
          display: block;
          padding: 30% 12% 25% 12%;
          .aboutme-text {
            p {
              font-size: 3vw;
              line-height: 5vw;
            }
            .sign {
              p {
              font-size: 5vw;
              }
              img {
                height: 80px;
              }
            }
          }
          .knowledge {
            width: 100%;
            margin-top: 20%;
            margin-left: 0%;
            h2 {
              text-align: left;
              font-size: 5vw;
            }
            .line1-logos, .line2-logos {
              margin: 10%;
              img {
                height: 10vw;
                margin: 0;
              }
              .tooltiptext {
                display: none;
              }
            }
            .wordCarousel {
              font-size: 2.5vw;
              width: 110%;
              margin: 10% 0 0 0;
            }
          }
        }
      }
    }
  }
}
