@import "colors";

#aboutme {
  .aboutme-container {
    padding-top: 10%;
    .aboutme-card {
      position: relative;
      border-radius: 30vw 30vw 0 0;
      background: $light-blue;
      .underline-aboutme {
        position: absolute;
        top: 13vw;
        left: 45vw;
        width: 20vw;
        height: 0.5vw;
        z-index: 100;
      }
      h1 {
        position: absolute;
        top: 3%;
        left: 40%;
        font-size: 5vw;
        z-index: 2;
        text-shadow: -5px 0px 0px #FFFFFF;
      }
      .avatar {
        position: absolute;
        top: -8%;
        left: 30%;
        transform: rotate(-14.86deg);
      }
      .aboutme-box {
        display: flex;
        top: 20%;
        padding: 20% 12% 35% 12%;
        .aboutme-text {
          p {
            font-size: 1.3vw;
            font-family: "PT Sans";
            color: $light-brown;
            line-height: 2vw;
          }
          .sign {
            position: relative;
            margin: 10% 10% 0 0;
            font-family: "Mr Dafoe";
            font-size: 4vw;
            color: $dark-blue;
            text-shadow: -2px 0px 0px #B9C9C7;
            text-align: right;
            animation: fade 3s ease-in alternate infinite;
          }
        }
      }
    }
    .knowledge {
      width: 50%;
      margin-left: 5%;
      .learnt {
        text-align: right;
      }
      h2 {
        font-family: "PT Serif";
        color: $light-brown;
        text-shadow: -2px 0px 0px #B9C9C7;
        font-size: 2.5vw;
      }
      .line1-logos {
        display: flex;
        justify-content: space-around;
        // margin: 10% 10% 15% 0%;
        img {
          height: 4vw;
        }
        .tooltip {
          position: relative;
          display: inline-block;
          &:hover .tooltiptext{
            visibility: visible;
            opacity: 1;;
          }
        }
        .tooltiptext {
            visibility: hidden;
            margin-top: 1.5em;
            width: 120px;
            background-color: white;
            color: $light-blue;
            text-align: center;
            border-radius: 6px;
            padding: 0.5em 0;
            position: absolute;
            z-index: 1;
            top: 100%;
            left: -10%;
            font-weight: 700;
          }
        }

      .line2-logos {
        display: flex;
        justify-content: space-between;
        margin: 20% 10% 20% 0%;
        img {
          height: 4vw;
          margin-right: 7.7vw;
        }
        .tooltip {
          position: relative;
          display: inline-block;
          &:hover .tooltiptext{
            visibility: visible;
            opacity: 1;;
          }
        }
        .tooltiptext {
            visibility: hidden;
            margin-top: 1.5em;
            width: 120px;
            background-color: white;
            color: $light-blue;
            text-align: center;
            border-radius: 6px;
            padding: 0.5em 0;
            position: absolute;
            z-index: 1;
            top: 100%;
            left: -20%;
            font-weight: 700;
          }
      }
    }
  }
}

.wordCarousel {
    font-size: 1.5vw;
    font-family: "PT Sans";
    font-weight: 400;
    color: $light-brown;
    display: flex;
    width: 45vw;
    margin: 10% 0 0 10%;
    div {
      overflow: hidden;
      position: relative;
      height: 65px;
      padding-top: 10px;
      margin-top: -10px;
        li {
            font-family: "PT Serif";
            color: $light-brown;
            font-style: italic;
            font-weight: 700;
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
