.banner {
  padding: 0;
  position: relative;
  min-height: 40vw;
  margin-top: 5em;
  h1 {
    color: $dark-brown;
    font-size: 8vw;
    span {
      font-style: italic;
      font-size: 14vw;
    }
  }
}

.banner-line1 {
  position: absolute;
  left: 27%;
  top: 0;
}
.banner-line2 {
  position: absolute;
  left: 30%;
  top: 3vw;
  z-index: 1;
}
  .banner-subtitle {
    display: flex;
    position: absolute;
    left: 24%;
    top: 19vw;
    h2 {
      color: $dark-blue;
      font-size: 6vw;
      font-family: "PT Serif";
      font-weight: 400;
    }
    p {
      color: $light-brown;
      font-size: 1.5vw;
      padding: 17% 10%;
      line-height: 1.6em;
      width: 31vw;
    }
  }

.banner-lineround {
  position: absolute;
  right: 24%;
  top: 14vw;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 700;
  animation: animate 7.5s linear infinite;
  h3 {
    color: $light-brown;
    span {
      top: -100px;
      position: absolute;
      display: inline-block;
      transform-origin: 0 110px;
    }
  }
  h4 {
    color: $medium-blue;
    span {
      top: -100px;
      position: absolute;
      display: inline-block;
      transform-origin: 0 110px;
    }
  }
}

.next-arrow {
  position: relative;
  left: 45vw;
  top: 35vw;
  width: 5vw;
  animation: updown 1s infinite alternate;
  -webkit-animation: updown 1s infinite  alternate;
}

@-webkit-keyframes updown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-2vw); }
}
@keyframes updown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-2vw); }
}


@keyframes animate {
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    min-height: 70vw;
    h1 {
    color: $dark-brown;
    font-size: 15vw;
      span {
        font-style: italic;
        font-size: 20vw;
      }
    }
  }
  .banner-line1 {
    position: absolute;
    left: 14%;
    top: 0;
  }
  .banner-line2 {
    position: absolute;
    left: 20%;
    top: 10vw;
  }
  .banner-subtitle {
    left: 13vw;
    top: 25vw;
    h2 {
      font-size: 20vw;
    }
    p {
      color: $light-brown;
      font-size: 3.9vw;
      padding: 30% 7%;
      line-height: 1.6em;
      width: 60vw;
      br {
        display: none;
      }
    }
  }
  .banner-lineround {
    position: absolute;
    right: 25vw;
    top: 23vw;
    font-size: 0.7em;
    h3 {
      span {
        top: -60px;
        transform-origin: 0 70px;
      }
    }
    h4 {
      span {
        top: -60px;
        transform-origin: 0 70px;
      }
    }
  }
  .next-arrow {
    display: none;
  }
}
