@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Mr+Dafoe&family=Roboto:wght@300;400;700&display=swap');

$dark-brown: #444440;
$light-brown: #757570;
$dark-blue: #A9B1B0;
$medium-blue: #B9C9C7;
$light-blue: #DBE7E5;
$dark-cream: #F3E8DA;
$light-cream: #F9F4EC;
$gray: #CACAC3;
$green: #E6ECDA;

body {
  margin: 0;
  background: $dark-cream;
  color: $dark-brown;
  max-height: 100vw;
  h1 {
    font-family: "PT Serif", Georgia, serif;
    font-weight: 400;
  }
  p {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  #preloader {
    background: $dark-cream url(../assets/images/preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 101;
    transition: 1s ease;
    top: 0;
  }
  .section {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity: 0;
  }
  .inView {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


