#contact {
  background: $green;
  position: relative;
  bottom: 25vw;
  .contact-header {
      padding: 5% 10%;
      h1 {
        font-family: "PT Serif";
        font-weight: 700;
        font-size: 6.5vw;
        margin: 0;
        margin-bottom: 10%;
        color: $light-brown;
      }
      .contact-header-line2 {
        color: $medium-blue;
        position: absolute;
        margin: 0;
        width: 53vw;
        left: 40vw;
        top: 13vw;
      }
      .contact-circle {
        position: absolute;
        top: 3vw;
        left: 20vw;
        width: 20vw;
      }
  }
  .contact-info-container {
    width: 100%;
    background: $light-cream;
    border-radius: 17vw 17vw 0 0;
    min-height: 60vh;
    padding-bottom: 5%;
    h3 {
      font-weight: 300;
      font-size: 3vw;
      color: $light-brown;
      }
    .email-box {
      position: relative;
      h3 {
        padding-top: 5%;
        position: relative;
        right: 15vw;
        text-align: right;
        margin-bottom: 5%;
      }
      .underline-email {
        position: absolute;
        top: 8.2vw;
        right: 13vw;
        width: 10vw;
      }
      .email {
        display: flex;
        border-radius: 20px;
        border: solid 1px $medium-blue;
        width: 26vw;
        padding: 0 0 0 5vw;
        color: $light-brown;
        position: relative;
        left: 15vw;
        .email-icon {
          align-self: center;
          margin-right: 1vw;
          width: 3vw;
        }
        h4 {
          align-self: center;
          font-family: "PT Sans";
          font-weight: 300;
          font-size: 1.8vw;
        }
      }
      .contact-arrow1 {
        position: absolute;
        top: 7vw;
        right: 40vw;
        width: 15vw;
      }
    }
    .social-box {
      position: relative;
      margin-bottom: 5%;
      .underline-sns {
        position: absolute;
        top: 8.2vw;
        left: 37vw;
        width: 20vw;
        height: 0.5vw;
      }
      h3 {
        padding-top: 5%;
        position: relative;
        left: 14vw;
        width: 50%;
      }
      svg {
        width: 7vw;
      }
      .contact-icons {
        display: flex;
        position: relative;
        left: 45vw;
        width: 30%;
        text-decoration: none;
        a {
          margin-right: 20%;
        }
      }
      .contact-arrow2 {
        position: absolute;
        top: 7vw;
        left: 30vw;
        width: 15vw;
      }
    }
  }
  .cv {
    padding: 0 20%;
    position: relative;
    .circle-cv {
      position: absolute;
      top: 5.5vw;
      right: 32vw;
      width: 5vw;
    }
    h4 {
      font-size: 2vw;
      font-weight: 300;
      color: $light-brown;
      text-align: center;
      padding: 10%;
      background: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  #contact {
    .contact-info-container {
      h3 {
        font-size: 5vw;
      }
      .email-box {
        width: 99%;
        .underline-email {
        top: 10vw;
        right: 13vw;
        width: 13vw;
        }
        .email {
          border-radius: 5px;
          width: 35vw;
          padding: 0 5vw 0 3.5vw;
          margin: 0;
          top: 3vw;
          left: 18vw;
          .email-icon {
            width: 5vw;
          }
          h4 {
            align-self: center;
            font-family: "PT Sans";
            font-weight: 300;
            font-size: 3vw;
          }
        }
        h3 {
          right: 0;
          left: 1vw;
          text-align: center;
        }
      }
      .social-box {
        position: relative;
        margin-bottom: 5%;
        width: 98%;
        .underline-sns {
          top: 10vw;
          left: 53vw;
          width: 30vw;
        }
        h3 {
          left: 10vw;
          text-align: left;
          width: 80%;
          text-align: center;
        }
      }
      .contact-icons {
        left: 45vw;
        width: 30%;
        a {
          margin-right: 20%;
        }
      }
      .contact-arrow2 {
        position: absolute;
        top: 7vw;
        left: 30vw;
        width: 15vw;
      }
      .cv {
        padding: 0 5%;
        .circle-cv {
          top: 9vw;
          right: 14vw;
          width: 9vw;
        }
        h4 {
          font-size: 4vw;
          padding: 10vw;
        }
      }
    }
  }
}
