  #contact {
    background: $green;
    position: relative;
    bottom: 22em;
    .contact-header {
      padding: 5% 10%;
      h1 {
        font-family: "PT Serif";
        font-weight: 700;
        font-size: 6.5vw;
        margin: 0;
        color: $light-brown;
      }
      .contact-header-line2 {
        color: $medium-blue;
        position: relative;
        width: 70%;
        left: 30vw;
      }
      .contact-circle {
        position: absolute;
        top: 3vw;
        left: 20vw;
        width: 20vw;
      }
    }
  }
  .contact-info-container {
    width: 100%;
    background: $light-cream;
    border-radius: 200px 200px 0 0;
    min-height: 60vh;
    padding-bottom: 5%;
    h3 {
        font-weight: 300;
        font-size: 3vw;
        color: $light-brown;
      }
    .email-box {
      position: relative;
      h3 {
        padding-top: 5%;
        position: relative;
        right: 15vw;
        text-align: right;
        margin-bottom: 5%;
      }
      .email {
        display: flex;
        border-radius: 20px;
        border: solid 1px $medium-blue;
        width: 26vw;
        padding: 0 0 0 5%;
        color: $light-brown;
        position: relative;
        left: 15vw;
        svg {
          align-self: center;
          margin-right: 3%;
        }
        h4 {
          align-self: center;
          font-family: "PT Sans";
          font-weight: 300;
          font-size: 1.8vw;
        }
      }
      .contact-arrow1 {
        position: absolute;
        top: 7vw;
        right: 40vw;
        width: 15vw;
      }
    }
    .social-box {
      position: relative;
      margin-bottom: 5%;
      h3 {
        padding-top: 5%;
        position: relative;
        left: 14vw;
        width: 50%;
      }
      svg {
        width: 7vw;
      }
      .contact-icons {
        display: flex;
        position: relative;
        left: 45vw;
        width: 30%;
        text-decoration: none;
        a {
          margin-right: 20%;
        }
      }
      .contact-arrow2 {
        position: absolute;
        top: 7vw;
        left: 30vw;
        width: 15vw;
      }
    }
  }
  .cv {
    padding: 0 20%;
    h4 {
      font-size: 2vw;
      font-weight: 300;
      color: $light-brown;
      text-align: center;
      padding: 10%;
      background: white;
    }
  }
