.top-header {
  display: flex;
  justify-content: space-between;
  .logo {
    text-decoration: none;
    color: $dark-blue;
    background: white;
    padding: 0 1.7em;
    position: fixed;
    top: 5vw;
    left: 6vw;
  }
}

.hamburger-menu {
  display: inline-block;
  cursor: pointer;
  width: 3em;
  height: 3em;
  position: fixed;
  top: 5vw;
  right: 6vw;
  .line1, .line2 {
  width: 35px;
  height: 0.3em;
  background-color: $light-brown;
  margin: 15% 0;
  transition: 0.5s;
  }
}

.navbar {
  width: 25vw;
  height: 100%;
  background-color: $medium-blue;
  position: fixed;
  top: 0;
  right: -25vw;
  transition: right .8s;
  z-index: 100;
}

.change {
  right: 0;
  .line1 {
  -webkit-transform: rotate(-45deg) translate(-1px, 1px);
  transform: rotate(-45deg) translate(-1px, 1px);
  }
  .line2 {
    -webkit-transform: rotate(45deg) translate(-8px, -9px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

.nav-list {
  margin-top: 200px;
  .nav-item {
    margin: 3em 5em 3em 2em;
    list-style-type: none;
    text-align: center;
    .nav-link {
      text-decoration: none;
      color: $light-brown;
      font-size: 2em;
      text-align: center;
    }
  }
}

.hidden {
  overflow: hidden;
}

.show {
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
    right: -100vw;
  }
  .change {
    right: 0;
  }
}

