.top-header {
  display: flex;
  height: 10vw;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(10px);
  .logo {
    text-decoration: none;
    color: $dark-blue;
    background: white;
    padding: 0 1.7em;
    position: fixed;
    top: 3vw;
    left: 4vw;
  }
}

.hamburger-menu {
  display: inline-block;
  cursor: pointer;
  width: 3em;
  height: 3em;
  position: fixed;
  top: 3.5vw;
  right: 4vw;
  .line1, .line2 {
  width: 35px;
  height: 0.3em;
  background-color: $light-brown;
  margin: 15% 0;
  transition: 0.5s;
  }
}

.navbar {
  width: 25rem;
  height: 100%;
  background-color: $medium-blue;
  position: fixed;
  top: 0;
  right: -25rem;
  transition: right .8s;
  z-index: 100;
}

.change {
  right: 0;
  .line1 {
  -webkit-transform: rotate(-45deg) translate(-1px, 1px);
  transform: rotate(-45deg) translate(-1px, 1px);
  }
  .line2 {
    -webkit-transform: rotate(45deg) translate(-8px, -9px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

.nav-list {
  margin-top: 200px;
  .nav-item {
    margin: 3em 5em 3em 2em;
    list-style-type: none;
    text-align: center;
    padding: 0;
    .nav-link {
      text-decoration: none;
      color: $light-brown;
      font-size: 2em;
    }
    .sns {
      margin-right: 20%;
    }
  }
  .contact-line {
      transform: translate(6rem, -4em);
    }
}

.hidden {
  overflow: hidden;
}

.show {
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
    right: -100vw;
  }
  .change {
    right: 0;
  }
  .nav-item {
    .sns {
      margin-left: 5%;
    }
  }
  .nav-list {
    .contact-line {
      transform: translate(9rem, -4em);
    }
  }
}


@media only screen and (max-width: 400px) {
  .navbar {
    width: 100vw;
    right: -100vw;
    height: 100vh;
  }
  .change {
    right: 0;
  }
  .nav-item {
    margin-left: 0%;
    .sns {
      margin-left: 5%;
    }
  }
  .nav-list {
    .contact-line {
      transform: translate(5rem, -4em);
    }
  }
}

