#work {
  background: white;
  padding-bottom: 5%;
  position: relative;
  border-radius: 20vw 20vw 0 0;
  bottom: 25vw;
  .work-header {
    width: 100%;
    padding-top: 6%;
    h1 {
    font-family: "PT Serif";
    color: $dark-brown;
    font-size: 5.5vw;
    margin: 0 0 0 15%;
    }
    .work-header-line2 {
      padding-left: 10%;
    }
    .work-circle {
      position: absolute;
      top: 11vw;
      width: 20vw;
      right: 4.5vw;
    }
  }
  .work-arrow {
    position: absolute;
    width: 20vw;
    top: -8vw;
  }
  .carousel-container {
    display: flex;
    width: 90vw;
    margin: 5%;
    .panel {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 90vh;
      border-radius: 50px;
      color: #ffffff;
      flex: 0.5;
      margin: 10px;
      position: relative;
      transition: flex 0.7s ease-in;
      -webkit-transition: all 0.7s ease-in;
      -moz-transition: all 0.7s ease-in;
      -ms-transition: all 0.7s ease-in;
      -o-transition: all 0.7s ease-in;
      transition: all 0.7s ease-in;
    }
    .panel a {
      font-family: "PT Sans";
      font-size: 1.5em;
      position: absolute;
      bottom: 20px;
      right: 20px;
      opacity: 0;
      text-decoration: none;
      color: white;
      padding: 2% 3%;
      border-radius: 2em;
      background-color: $medium-blue;
    }

    .panel.active {
      flex: 4;
    }

    .panel.active a {
      opacity: 1;
      -webkit-transition: opacity 0.3s ease-in 0.4s;
      -moz-transition: opacity 0.3s ease-in 0.4s;
      -ms-transition: opacity 0.3s ease-in 0.4s;
      -o-transition: opacity 0.3s ease-in 0.4s;
      transition: opacity 0.3s ease-in 0.4s;
    }
  }
  .workcards-container {
    display: none;
  }
}

 @media(max-width: 600px) {
      #work {
        bottom: 25vw;
        .workshow {
          padding: 10%;
          .workcards-container {
            display: flex;
            justify-content: space-around;
            .workcard {
              position: relative;
              width: 35vw;
              height: 15em;
              border: 1px solid $light-blue;
              border-radius: 10px;
              margin: 3%;
              align-self: center;
              text-align: center;
              background-size: cover;
              h3 {
                position: absolute;
                bottom: -9%;
                background: $light-blue;
                width: 100%;
                padding: 10% 0;
                border-radius: 0 0 10px 10px;
              }
            }
          }
        }
        .carousel-container{
          display: none;
        }
      }
    }
