<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hey, it's me Silvia! 👋 I'm a Front-end developer based in Barcelona 🇪🇸. Welcome to my world! 🌎">
    <link rel="stylesheet" href="/main.css">
    <script src="../js/preload.js"></script>
    <script src="../js/script.js" async></script>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png">
</head>
<body>
  <div id="preloader"></div>
  {{ content }}
</body>
</html>
